/*

common rules

*/

*
{
  margin:0;
  padding:0;
}

html, body
{
	height: 100%;
}

body
{
	display : table;
	width: 100%;
}

header aside , header section , footer nav , footer figure , .piscine
{
  display: inline-block;
  vertical-align: middle;
}

a
{
  color: black;
  text-decoration: none;
}

a:hover /*hover a css*/
{
  color: black;
  text-decoration: underline;
}


/*

end common rules

*/


/*

header rules

*/


header figure
{
  max-width: 10em;
  max-height: 10em;
  margin: auto;
}

header img
{
  width: 100%;
  height: 100%;
  margin: 1em;
}

header section
{
  width: 45%;
}

header aside
{
  width: 25%;
}

header h1 /*google fonts design title*/
{
  text-align: center;
  font-family: 'Nosifer', cursive;
  color: darkblue;
  font-size: 300%;
}

/*

end header rules

*/

/*

nav rules

*/

.firstnav /*nav from the head of the page*/
{
  width: 100%;
  margin: auto;
}

.firstnav ul /*width and centre ul from firstnav*/
{
  width: 40%;
  margin: auto;
}

.firstnav li /*inline li from firstnav */
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5em;
}

/*

end nav rules

*/

/*

start slide rules

*/


.mySlides /*size for img in figure*/
{
  width: 100%;
  height: 35em;
}

.slide
{
  margin-top: 2em;
}

/*

end slide rules

*/


/*

main rules


*/

.main /* width main from index.html*/
{
  width: 70%;
  margin: auto;
  height: 30em;
}

.main h2 , .main p /*center h2 with p in main*/
{
  text-align: center;
  margin-top: 1em;
}

.piscine /*article with title , figure and p in index.html*/
{
  max-width: 29%;
  max-height:10em;
  margin: 2em;
}

.imgpisc /*img in piscine article*/
{
  width: 100%;
  height: 12em;
}

.piscine h3
{
  text-align: center;
}

/*

end main rules

*/



/*

footer rules

*/

footer /* fix footer in the bot on the page*/
{
	display : table-row;
  height: 5em;
}

.imgfoot /*img social network in footer*/
{
  height: 60px;
  width: 250px;
}

footer nav /* width and center footer nav*/
{
  width: 75%;
  margin: auto;
}

footer li /*inline footer li */
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 3em;
  margin-top: 1em;
}

footer ul /*margin ul from footer*/
{
  margin-left: 8em;
}

footer figure /*figure with social network img*/
{
  width: 20%;
}

/*

end footer rules

*/
