/*

common rules

*/

*
{
  margin:0;
  padding:0;
}

html, body
{
	height: 100%;
}

body
{
	display : table;
	width: 100%;
}

header aside , header section
{
  display: inline-block;
  vertical-align: middle;
}

a
{
  color: black;
  text-decoration: none;
}

a:hover /*hover a css*/
{
  color: black;
  text-decoration: underline;
}

/*

end common rules

*/


/*

header rules

*/


header figure
{
  max-width: 10em;
  max-height: 10em;
  margin: 2em;
}

header img
{
  width: 100%;
  height: 100%;
}

header section
{
  width: 75%;
}

header aside
{
  width: 15%;
}

header h1
{
  text-align: center;
}

/*

end header rules

*/

/*

nav rules

*/

.firstnav
{
  width: 100%;
  margin: auto;
}

.firstnav ul
{
  width: 40%;
  margin: auto;
}

.firstnav li
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5em;
}

/*

end nav rules

*/

/*

start slide rules

*/


.slide
{
  width: 100%;
  height: 35em;
}

.mySlides
{
  width: 100%;
  height: 100%;
}


/*

end slide rules

*/


/*

main rules


*/


/*

end main rules

*/



/*

footer rules

*/

footer /* fix footer in the bot on the page*/
{
	display : table-row;
  height: 3em;
}

/*

end footer rules

*/
